*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cascadia-mono {
  font-family: "Cascadia Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

#beginsYouthBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#beginsYouthBackground img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#karakterSecme {
    z-index: 1; 
    max-width: 800px;
    padding: 15px;
    font: 16px 'Cascadia Mono', monospace;
}

#karakterBaslik {
    font-size: 28px;
    margin-bottom: 20px;
    color: rgb(209, 96, 4);
}

#karakterler {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
    max-width: 900px;
}

#karakterler a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    display: inline-block;
    transition: 0.3s;
    font: 16px 'Cascadia Mono', monospace;
}

#karakterler a:hover {
    background: white;
    color: rgb(15, 159, 198);
}
