*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cascadia-mono {
  font-family: "Cascadia Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#icerik {
    z-index: 1; 
    max-width: 800px;
    padding: 15px;
    font: 16px 'Cascadia Mono', monospace;
}

#logo{
    max-width: 250px;
    margin-bottom: 10px;
}

#secenekler {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

#secenekler a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    transition: 0.3s;
    font: 16px 'Cascadia Mono', monospace;
}

#secenekler a:hover {
    background: white;
    color: rgb(92, 143, 161);
}
