*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cascadia-mono {
  font-family: "Cascadia Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    color: white;
    text-align: center;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#orijinalKarakterForm {
    z-index: 1; 
    max-width: 800px;
    padding-top: 140px;
    padding-right: 70px;
    font: 16px 'Cascadia Mono', monospace;
    font-size: 28px;
    margin-bottom: 20px;
    color: #153b58;
}

#orijinalKarakterForm input[type="text"] {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #153b58;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Cascadia Mono', monospace;
    background: transparent;
    color: #f6b592;
}

#orijinalKarakterForm input[type="text"]:focus {
    outline: none;
    border-color: #648cab;
    background-color: rgba(225, 250, 249, 0.205);
    color: #f6b592;
}

#orijinalKarakterForm input[type="submit"] {
    padding: 10px 20px;
    border: 2px solid #153b58;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Cascadia Mono', monospace;
    background: transparent;
    color: #648cab;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#karakterSecimButonu a{
    background: transparent;
    text-decoration: none;
    color: #153b58;
    border: 1px solid #153b58;
    margin-right: 192px;
    padding: 10px 20px;
    display: inline-block;
    transition: 0.3s;
    font: 16px 'Cascadia Mono', monospace;
    cursor: pointer;
}

#karakterSecimButonu a:hover {
    background: rgba(225, 250, 249, 0.205);
    color: #648cab;
}

#beginsYouthOrijinalKarakterIkonikSoz {
    z-index: 1; 
    max-width: 800px;
    padding: 15px;
    font: 16px 'Cascadia Mono', monospace;
    font-size: 28px;
    margin-bottom: 20px;
    color: #1f93a2;
}

#beginsYouthOrijinalKarakterButonlar {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
    max-width: 900px;
}

#beginsYouthOrijinalKarakterButonlar button {
    background: transparent;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    display: inline-block;
    transition: 0.3s;
    font: 16px 'Cascadia Mono', monospace;
}

#beginsYouthOrijinalKarakterButonlar button:hover {
    background: white;
    color: #f8ca80;
}

#beginsYouthKarakterSecimButonu a{
    background: transparent;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    margin-top: 8px;
    padding: 10px 20px;
    display: inline-block;
    transition: 0.3s;
    font: 16px 'Cascadia Mono', monospace;
    cursor: pointer;
}

#beginsYouthKarakterSecimButonu a:hover {
    background: white;
    color: #f8ca80;
}
