*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cascadia-mono {
  font-family: "Cascadia Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
    text-align: center;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#orijinalKarakterForm {
    z-index: 1; 
    max-width: 800px;
    padding-top: 220px;
    padding-left: 250px;
    font: 16px 'Cascadia Mono', monospace;
    font-size: 28px;
    margin-bottom: 20px;
    color: #edbe7b;
}

#orijinalKarakterForm input[type="text"] {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #edbe7b;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Cascadia Mono', monospace;
    background: transparent;
    color: #699ca6;
}

#orijinalKarakterForm input[type="text"]:focus {
    outline: none;
    border-color: #ffb4a7;
    background-color: rgba(250, 239, 225, 0.279);
    color: #699ca6;
}

#orijinalKarakterForm input[type="submit"] {
    padding: 10px 20px;
    border: 2px solid #edbe7b;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Cascadia Mono', monospace;
    background: transparent;
    color: #ffb4a7;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#karakterSecimButonu a{
    background: transparent;
    text-decoration: none;
    color: #edbe7b;
    border: 1px solid #edbe7b;
    margin-left: 372px;
    padding: 10px 20px;
    display: inline-block;
    transition: 0.3s;
    font: 16px 'Cascadia Mono', monospace;
    cursor: pointer;
}

#karakterSecimButonu a:hover {
    background: rgba(250, 239, 225, 0.279);
    color: #ffb4a7;
}

#btsOrijinalKarakterIkonikSoz {
    z-index: 1; 
    max-width: 800px;
    padding: 15px;
    font: 16px 'Cascadia Mono', monospace;
    font-size: 28px;
    margin-bottom: 20px;
    color: #d46243;
}

#btsOrijinalKarakterButonlar {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
    max-width: 900px;
}

#btsOrijinalKarakterButonlar button {
    background: transparent;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    display: inline-block;
    transition: 0.3s;
    font: 16px 'Cascadia Mono', monospace;
}

#btsOrijinalKarakterButonlar button:hover {
    background: white;
    color: #ed947b;
}

#btsKarakterSecimButonu a{
    background: transparent;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    margin-top: 8px;
    padding: 10px 20px;
    display: inline-block;
    transition: 0.3s;
    font: 16px 'Cascadia Mono', monospace;
    cursor: pointer;
}

#btsKarakterSecimButonu a:hover {
    background: white;
    color: #ed947b;
}
