*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.cascadia-mono {
  font-family: "Cascadia Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#kimSeokjinIkonikSoz {
    z-index: 1; 
    max-width: 800px;
    padding: 15px;
    font: 16px 'Cascadia Mono', monospace;
    font-size: 28px;
    margin-bottom: 20px;
    color: #206985;
}

#kimSeokjinButonlar {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
    max-width: 900px;
}

#kimSeokjinButonlar button {
    background: transparent;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    display: inline-block;
    transition: 0.3s;
    font: 16px 'Cascadia Mono', monospace;
}

#kimSeokjinButonlar button:hover {
    background: white;
    color: rgb(37, 128, 153);
}

#karakterSecimButonu a{
    background: transparent;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    margin-top: 8px;
    padding: 10px 20px;
    display: inline-block;
    transition: 0.3s;
    font: 16px 'Cascadia Mono', monospace;
    cursor: pointer;
}

#karakterSecimButonu a:hover {
    background: white;
    color: rgb(37, 128, 153);
}

[id-sahne="kimSeokjinTarih1"] #kimSeokjinIkonikSoz,
[id-sahne="kimSeokjinTarih2"] #kimSeokjinIkonikSoz,
[id-sahne="kimSeokjinTarih3"] #kimSeokjinIkonikSoz,
[id-sahne="kimSeokjinTarih4"] #kimSeokjinIkonikSoz,
[id-sahne="kimSeokjinTarih5"] #kimSeokjinIkonikSoz {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    color: #bdc3c7; 
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

[id-sahne="kimSeokjinCarpma1"] #kimSeokjinIkonikSoz {
    color: #ff0000;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    animation: shake 0.5s;
}

.oyun-basladi {
    background-color: black !important;
}

.sahne-gecis {
    opacity: 0 !important;
}
